@import url('https://fonts.googleapis.com/css?family=Shrikhand');

body {
  background-image: url("/qinghill.jpg");
	background-size: cover;
}

.background {
  width: 100%;
}

.navbar {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar:hover {
  background: rgba(51, 51, 51, .8);
}

.navitem {
  float: right;
}

.navitem span {
  padding: 16px;
  display: block;
  color: white;
}

.navitem span:hover {
  background-color: rgba(17, 17, 17, .5);
}

/*.jackieb, .jackieb:before, .jackieb:after {
  content: 'Jackie Brown';
  font-family: 'Shrikhand', cursive;
  font-size: 48px;
}

.jackieb {
	z-index: 1;
	color: rgba(254, 211, 58, 0)
}

.jackieb:before {
	color: rgba(236, 33, 54, 1);
  position: relative;
  left: 344px;
	z-index: 0;
}

.jackieb:after {
	color: rgba(254, 211, 58, 1);
	position: relative;
	right: 350px;
	bottom: 2px;
	z-index: 2;
}*/

.construction-container {
	margin-left: 32px;
}

.construction1 {
	position: absolute;
	bottom: -100px;
	z-index: 1;
	color: rgba(254, 211, 58, 1);
	font-family: 'Shrikhand', cursive;
	font-size: 800%;
}

.construction2 {
	color: rgba(236, 33, 54, 1);
	position: absolute;
	bottom: -104px;
	margin-left: 4px;
	z-index: 0;
	font-family: 'Shrikhand', cursive;
	font-size: 800%;
}

.schyler-container {
  margin-left: 32px;
}

.schyler1 {
	position: fixed;
	top: 20px;
	z-index: 1;
	color: rgba(254, 211, 58, 1);
	font-family: 'Shrikhand', cursive;
	font-size: 48px;
}

.schyler1:after {
	animation-name: example;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.schyler2 {
	color: rgba(236, 33, 54, 1);
	position: fixed;
	margin-left: 2px;
	top: 22px;
	z-index: 0;
	font-family: 'Shrikhand', cursive;
	font-size: 48px;
	animation-name: example;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {opacity: 1;}
  100% {
    opacity: 0;
  }
}

.schyler1 span, .schyler2 span {
  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.schyler1 span:nth-child(2), .schyler2 span:nth-child(2) {
  animation-delay: .25s;
}

.schyler1 span:nth-child(3), .schyler2 span:nth-child(3) {
  animation-delay: .5s;
}

/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
