@import url('https://fonts.googleapis.com/css?family=Shrikhand|Chau+Philomene+One|Fjalla+One');

/*$sky-gray: rgba(200, 207, 218, 1)*/
/*$earth-cream: 225, 218, 196*/
/*$tree-brown: 67, 57, 51*/

body {
  margin: 0px;
  background: rgba(154, 158, 171, 1);
  /*font-family: 'Chau Philomene One', sans-serif;*/
	font-family: 'Fjalla One', sans-serif;
	text-shadow: .5px .5px .8px grey;
  color: rgba(93, 83, 94, 1);
}

.view {
  margin-top: 54px;
}

.background {
  z-index: 0;
  position: absolute;
  top: 0px;
  width: 100%;
}

/*@font-face {
  font-family: MyHelvetica;
  src: local("Helvetica Neue Bold"),
       local("HelveticaNeue-Bold"),
       url(ransom.ttf);
  font-weight: bold;
}*/

@font-face {
    font-family: RansomNote;
    src: url("../public/ransom.ttf");
    font-weight:400;
}

.navbar {
  z-index: 2;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.navbar:hover {
  /*background: rgba(236, 150, 164, 1);*/
  background: rgba(223, 225, 102, 1);
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(223, 225, 102, 1) 70%);
}

.navbar-test {
  background: rgba(145, 0, 6, 1);
  z-index: 2;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.navitem {
  float: right;
}

.navitem-test {
  float: right;
}

.navitem-test-active {
  float: right;
}

.navitem-active {
  float: right;
}

.navitem-active a {
  background: rgba(236, 150, 164, 1);
  color: rgba(93, 83, 94, 1);
  padding: 16px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.navitem-test-active a {
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-family: RansomNote, Helvetica, Arial, sans-serif;
  font-size: 27.2px;
  padding: 8px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.navitem a {
  color: rgba(93, 83, 94, 1);
  padding: 16px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.navitem-test a {
  /*background: rgba(236, 150, 164, 1);*/
  color: rgba(255, 255, 255, 1);
  font-family: RansomNote, Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding: 10.6px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.navitem a:hover {
  /*background: rgba(223, 225, 102, 1);*/
  background: rgba(236, 150, 164, 1);
}

.page-title {
  margin: 32px;
}

.test-title {
  margin: 32px;
  color: rgba(255, 255, 255, 1);
  font-family: RansomNote, Helvetica, Arial, sans-serif;
}

.test-content {
  margin: 64px;
  color: rgba(255, 255, 255, 1);
  font-family: RansomNote, Helvetica, Arial, sans-serif;
}

.rotated {
  background: rgba(145, 0, 6, 1);
  position: absolute;
  right: 400px;
  top: 0px;
  width: 400px;
  height: 800px;
  transform: rotate(45deg);
}

.about-content {
  margin: 20px 64px 64px 64px;
  float: left;
}

.contact-content {
  font-size: 36px;
  margin: 20px 64px 64px 64px;
  float: left;
}

.contact-content a {
  width: 30%;
  text-align: center;
  margin: 0px;
}

.me-pic {
  width: 300px;
  margin: 20px 64px 64px 64px;
  float: left;
  border-radius: 30px;
}

.icon-container {
  width: 100%;
  display: block;
  float: left;
}

.devicon {
  max-width: 72px;
}

.devicon svg {
  color: yellow;
}

.page-contents {
  display: inline-block;
}

.project {
  float: left;
  display: block;
  width: 40%;
  margin: 0% 0% 5% 6.66%;
}

.project-preview {
  width: 100%;
  display: inline-block;
}

.image-mask {
  position: relative;
  display:block;
}

.image-mask {
  background-position: -600px 0;
}

.image-mask:hover,
.image-mask:focus{
  background-position: 600px 0;
  transition: all .8s;
}

.image-mask::after{
  content:'';
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(0 0,circle farthest-side, rgba(255,255,255,0) 10%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
  background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 50%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
  background-position: inherit;
  height: 98.6%;
}

.project-preview:hover, .project-preview:focus, .project-preview:active {
  box-shadow: 10px 10px 20px grey;
  transition: box-shadow 0.3s ease-in-out 0s;
}

.project-preview i {
  float: left;
}

.project-title {
  margin: 0px 0px 0px 8px;
  line-height: 26px;
  float: left;
}

.material-icons {
  float: left;
}

.external-link {
  text-decoration: none;
  color: rgba(223, 225, 102, 1);
  float: left;
  padding: 8px;
  margin: 8px 8px 8px 0px;
}

.external-link:hover {
  box-shadow: 10px 10px 20px grey;
  background: rgba(236, 150, 164, 1);
  transition: all 0.3s ease-in-out 0s;
}

.ppg-phone {
  float: left;
  margin-right: 64px;
}

.construction-container {
  margin-left: 32px;
}

.construction1 {
  position: absolute;
  bottom: -100px;
  z-index: 1;
  color: rgba(254, 211, 58, 1);
  font-family: 'Shrikhand', cursive;
  font-size: 800%;
}

.construction2 {
  color: rgba(236, 33, 54, 1);
  position: absolute;
  bottom: -104px;
  margin-left: 4px;
  z-index: 0;
  font-family: 'Shrikhand', cursive;
  font-size: 800%;
}

.schyler-container {
  margin-left: 32px;
}

.schyler1 {
  position: fixed;
  top: 20px;
  z-index: 1;
  color: rgba(254, 211, 58, 1);
  font-family: 'Shrikhand', cursive;
  font-size: 48px;
}

.schyler1:after {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.arrow {
  z-index: 3;
  position: fixed;
  top: 90px;
  right: 100px;
  max-height: 200px;
  transform: rotate(-35deg);
}

.circled {
  z-index: 1;
  position: fixed;
  top: -2px;
  right: 150px;
  max-width: 80px;
}

.circled:hover {
  opacity: 0
}

.stillOpen {
  z-index: 3;
  position: fixed;
  top: 300px;
  right: 100px;
  max-width: 200px;
}

.schyler2 {
  color: rgba(236, 33, 54, 1);
  position: fixed;
  margin-left: 2px;
  top: 22px;
  z-index: 0;
  font-family: 'Shrikhand', cursive;
  font-size: 48px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes loading1 {
  0%   {opacity: 0;}
  25%  {opacity: 1;}
  50%  {opacity: 1;}
  75%  {opacity: 1;}
  100% {opacity: 1;}
}

@keyframes loading2 {
	0%   {opacity: 0;}
  25%  {opacity: 0;}
  50%  {opacity: 1;}
  75%  {opacity: 1;}
  100% {opacity: 1;}
}

@keyframes loading3 {
	0%   {opacity: 0;}
  25%  {opacity: 0;}
  50%  {opacity: 0;}
  75%  {opacity: 1;}
  100% {opacity: 1;}
}

.schyler1 span, .schyler2 span {
  animation-name: loading1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.schyler1 span:nth-child(2), .schyler2 span:nth-child(2) {
  animation-name: loading2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.schyler1 span:nth-child(3), .schyler2 span:nth-child(3) {
  animation-name: loading3;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@media screen and (max-width: 600px){
  ul.navbar {
    background: rgba(223, 225, 102, 1);
  }

  ul.navbar li {
    float: none;
  }

  .view {
    margin-top: 250px;
  }

  .background {
    margin-top: 200px;
  }

  .external-link {
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 0px;
  }

  h1, h2, h3, h4, h5, h6, .external-link {
    text-align: center;
  }

  .project {
    width: 100%;
    margin: 0px;
    padding-bottom: 16px;
    border-bottom: 5px solid rgba(236, 150, 164, 1);
  }

  .ppg-phone {
    width: 100%;
    margin: 0px;
  }

  .contact-content {
    margin: 0px;
  }

  .contact-content a {
    width: 100%;
    text-align: center;
    margin-top: 16px;
  }

  .construction-container {
    margin: 0px;
  }

  .construction1 {
    position: absolute;
    top: 310px;
    font-size: 36px;
    text-align: center;
  }

  .construction2 {
    position: absolute;
    top: 311px;
    margin-left: 1px;
    font-size: 36px;
    text-align: center;
  }

  .schyler1 {
    position: fixed;
    top: 200px;
    font-size: 24px;
  }

  .schyler2 {
    position: fixed;
    margin-left: 1px;
    top: 201px;
    font-size: 24px;
  }

  .arrow, .stillOpen, .circled {
    opacity: 0;
  }
}
